
.body {
    max-width: 1280px; 
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto";
    box-sizing: border-box;
}
.logo {
    margin: 63px auto 38px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
}
.logo span {
    color:deepskyblue;
}
.logo a{
    text-decoration: none;
    color:#000000;
}
.navigation-header {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color:#35444F;
    line-height: 72px;   
}
.navigation-header li {
    border-right: solid 1px #FFFFFF;
}
.navigation-header li:hover{
    background-color:  #222F3A;
    transition: 0.2s;
}
.navigation-header a {
    text-decoration:none ;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
    
}

.navigation-header>li:first-child {

   border-left: solid 1px #FFFFFF;
}
.nav-main{
    
    list-style: none;
    padding: 0;
    margin: 0;

}
.nav-main li {
    padding: 26px 40px;

}
.nav-main a{
    text-decoration: none;
    color: #485863;
    font-size: 27px;
}
.nav-main li:hover{
    background-color: #DBDBDB;
    padding-left: 50px;
    transition: 0.2s;

}
main {
    display: flex;
    flex-wrap: wrap;
}
.block-nav-main{

    width: 344px;
 
    border: solid 1px #35444F;
    align-self: flex-start;   
}
.image {
    width: 885px;
    height: 530px;
    margin: 0 0 0 auto;
    border: solid 1px #35444F;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.image img{
    width: 320px;
    height: 381px;
    transition: 0.5s;
}
.image>img:hover {
    
    width: 340px;
    height: 401px;
    transition: 0.5s;
}
.text {
    width: 885px;
    margin:  0 auto;
    margin-right: 0;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.basement{
    margin: 0px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 30px;
    margin-top: 40px;

}
.nav-footer  {
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.nav-footer a{
    text-decoration: none;
    color: #0C1927;
    font-size: 28px;
}
.nav-footer a:hover{
    color: #3181A6;
    text-decoration: underline;
    cursor: pointer;
}
.nav-footer li{
    padding-right: 40px;
}
.Copyright {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-right: 40px;

}




